<div class="card mb-1 bg-dark">
    <div class="card-body">
        <h6 class="card-subtitle mb-1 text-muted">Comment as {{username}}</h6>
            <form id="comment-form" class="row">
                <div class="col">
                    <div class="mb-1">
                        <textarea id="commentInput" name="content" class="form-control bg-dark" type="text" placeholder="What are your thoughts?" required></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-light">Comment</button>
                    </div>
                </div>
            </form>
    </div>
</div>