<div class="card mb-1 bg-dark">
    <div class="card-body">
        <h6 class="card-subtitle text-muted">Posted by {{user.username}} {{format_time createdAt}}</h6>
        <p class="card-text">{{content}}</p>
    </div>
</div>