<div class="card mb-1">
    <div class="card-body">
            <form id="post-form" class="row">
                <div class="col">
                    <div class="mb-1">
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-person-circle fs-2"></i></div>
                            <input id="inputTitle" name="title" class="form-control" type="text" placeholder="Create a post">
                        </div>
                    </div>
                    <div class="mb-1">
                        <textarea id="inputContent" name="content" class="form-control" type="text" placeholder="Write your post body. Make it awesome."></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
    </div>
</div>