<div class="row justify-content-center">
    <div class="card col-6 bg-dark">
        <div class="card-body">
            <form id="form-register">
                <h2 class="card-title">Create a log in</h2>
                <input type="email" id="registerInputEmail" class="form-control bg-dark mb-1"
                    placeholder="Email address" required autofocus>
                <input type="text" id="registerInputUsername" class="form-control bg-dark mb-1" placeholder="Username" required>
                <input type="password" id="registerInputPassword" class="form-control mb-1 bg-dark" placeholder="Password"
                    required>
                <button class="btn btn-md btn-light btn-block" type="submit">Submit</button>
            </form>
            <span id="register-msg"></span>
        </div>
    </div>
</div>